@page
@model Awesome.Pages.Customers.IndexModel

<h2>Customers</h2>
<form method="post" class="form-inline">
    <input placeholder="Search" class="form-control" asp-for="@Model.Query" type="text" size="20" />
    <input class="btn btn-default" type="submit" value="Submit" />
</form>

<table class="table">
    <tr>
        <th>Company Name</th>
        <th>Contact Name</th>
    </tr>
    @foreach (var customer in Model.Items)
    {
        <tr>
            <td>@customer.CompanyName</td>
            <td>@customer.ContactName</td>
        </tr>
    }
</table>
