<%@ Master Language="C#" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>:( Legacy</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <!-- #Include file="menu.html" -->
    <main role="main" class="container">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
    </main>
</body>
</html>
