@page
@model Awesome.Pages.Default.IndexModel

<h2>Welcome!</h2>
<div class="alert alert-primary" role="alert">
        Total of <strong>
    @Model.ProductCount
        products
    </strong> ordered amounting to <strong>EUR
        @Model.OrdersTotal</strong>
</div>
