@page
@inject Awesome.Data.IOrdersRepository ordersRepository
@{
    var aggregates = ordersRepository.GetOrdersAggregate();
}
<h2>Welcome!</h2>
<div class="alert alert-primary" role="alert">
    Total of <strong>@aggregates.productCount</strong>
    products ordered amounting to <strong>EUR @aggregates.ordersTotal</strong>
</div>

