@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    
</head>
<body style="border-style:solid;border-color:red;border-width:20px">
    <div>

        <partial name="_Menu"/>
        @RenderBody()
    </div>
</body>
</html>