<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @{ 
        var menu = File.ReadAllText(Server.MapPath("~/Pages/menu.html"));
    }
    @Html.Raw(menu)
    <div>
        @RenderBody()
    </div>
</body>
</html>
